.section
  padding-top: 5rem
  padding-bottom: 5rem
  &__title
    font-family: $font-title
    font-size: 2rem
    line-height: 2.33rem
    color: $secondary
    text-align: center
    margin-bottom: 5.55rem
  &__subtitle
    font-family: $font-title-thin
    font-size: 1.55rem
    line-height: 1.83rem
    text-align: center
    font-weight: normal
  &__text
    font-family: $font-text
    line-height: 1.55rem

.li
  list-style-type: none
  position: relative
  &_check
    &::before
      content: url('../img/check.svg')
      position: absolute
      top: 50%
      left: -50px
      margin-top: -18.5px
  &_circle
    &::before
      content: url('../img/circle.svg')
      position: absolute
      top: 50%
      left: -30px
      margin-top: -9px
.upbutton
  display: none
  background: url('../img/up.svg') no-repeat top left
  height: 60px
  width: 60px
  bottom: 90px
  right: 30px
  cursor: pointer
  position: fixed
  z-index: 999
.button
    border: 3px solid $primary
    background-color: $primary
    color: $light
    font-family: $font-button
    font-size: 1.33rem
    text-align: center
    padding: 1rem 4.08rem
    border-radius: 50px
    transition: 0.5s
    &:hover
      cursor: pointer
      color: $primary
      background: $light